.app-navbar {
  color: #28374B;
  background-color: white;
  font-weight: bold;
  position: fixed;
  top: 0;
  min-width: 100%;
  line-height: 2.35em;
  z-index: 4;
  box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1);
}

.app-navbar a {
  color: #7957d5;
}

.level > .level-item:not(.is-narrow) {
  flex-grow: 0
}